<div id="map">
  <div id="map-header" class="map-header">
    <h3 id="map-title">Carte de Toulouse</h3>
  </div>
  <div class="map-container">
    <div id="svg-container" class="svg-container"></div>
  </div>
  <div id="map-footer" class="map-footer">
    <!-- Up Button -->
    <p-button
      severity="secondary"
      icon="pi pi-arrow-up"
      label="Haut"
      (click)="up()"
      class="btn-spacing"
      size="small"
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-minus"
      label="Dézoom"
      (click)="zoomOut()"
      class="btn-spacing"
      size="small"
    ></p-button>
    <p-button
      icon="pi pi-refresh"
      label="Recentrer"
      (click)="setupPanZoom()"
      class="btn-spacing"
      size="small"
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-plus"
      label="Zoom"
      (click)="zoomIn()"
      class="btn-spacing"
      size="small"
    ></p-button>
    <p-button
      severity="secondary"
      icon="pi pi-arrow-down"
      label="Bas"
      (click)="down()"
      class="btn-spacing"
      size="small"
    ></p-button>
  </div>
</div>
